
<div id="myShows">
  <table class="table table-striped table-hover">
    <tr>
      <th>Name</th>
      <th>Channel</th>
      <th>Time</th>
    </tr>

    {{#each allshows.tvshows}}
    <tr>
    <td>{{name}}</td>
    <td>{{channel}}</td>
    <td>{{day}}</td>
    </tr>
    {{/each}}
  </table>
</div>
